* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

html, body, .wrapper {
    height: 100%;
}

header, footer {
    background-color: green;
    padding: 30px 0;
}

.container {
    max-width: 1100px;
    margin: auto;
}

.logo {
    display: inline-block;
    height: 70px;
    width: 70px;
    background-color: red;
}

.header-flex {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.service {
    display: flex;
    justify-content: space-between;
}

.service > div {
    flex-basis: 17%;
    border: red 1px solid;
}

/*.service > div:nth-child(2) {*/
/*    flex-grow: 1;*/
/*}*/

/*.service > div:nth-child(4) {*/
/*    flex-grow: 2;*/
/*}*/

/*.service > div:nth-child(5) {*/
/*    flex-grow: 1;*/
/*}*/

.wrapper {
    display: flex;
    flex-direction: column;
}

main {
    flex-grow: 1;
}

@media (max-width: 1100px) {
    .container {
        max-width: 95%;
    }
}

@media (max-width: 950px) {
    .service {
        flex-wrap: wrap;
        justify-content: center;
    }
    .service > div {
        flex-basis: 30%;
        margin: 10px;
    }
}

@media (max-width: 510px) {
    .service > div {
        flex-basis: 80%;
    }
}

/*@media (max-width: 760px) {*/
/*    .service {*/
/*        flex-wrap: wrap;*/
/*    }*/
/*    .service > div {*/
/*        flex-basis: 30%;*/
/*    }*/
/*}*/

